<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG site</title>
</head>
<body>
    
    <h1>Blog site</h1>
    <p>Here you can find all the posts</p>
    
    <!-- single blog section -->
     {% for blog in bloglar %}
    <div class="blog">
        <h2>{{ blog.title }}</h2>
        <p>{{ blog.short_description }}</p>
        <a href="#">Read more</a>

        {% for rasm in blog.get_images %}
        <img src="{{ rasm.image.url }}" alt="{{ blog.title }}">
        {% endfor %}
    </div>
    {% endfor %}
    

</body>
</html>